<div class="arcade-challenge-card challenge-card" data-challenge-id="{{ challenge.id }}">
  <div class="arcade-challenge-card__title">
    <span class="arcade-challenge-card__line"><strong class="cabinet-accent-alt">{{ challenge.challenger.username }}</strong> te ha retado</span>
    <span class="arcade-challenge-card__line">en <strong class="cabinet-accent">{{ challenge.game.name }}</strong></span>
  </div>
  <div class="arcade-challenge-card__actions flex gap-3 flex-wrap justify-center">
    <a href="{% url 'play_challenge' challenge.id %}" class="arcade-btn arcade-btn--primary">Aceptar</a>
    <button type="button"
            class="arcade-btn arcade-btn--danger ajax-delete"
            data-url="{% url 'reject_challenge' challenge.id %}">
      Rechazar
    </button>
  </div>
</div>
